
.pageWrapper {

    .heroWrapper {
        width: 100%;
       
    
        .img {
            max-height: 250px;
            width: 100%;
        }
    }

    h2 {
        color: var(--blue);
    }

    .topSection {
        display: flex;
    }

}



