.wrapper {
  display: flex;
  position: relative;
  z-index: 9;

  h1 {
    font-size: 1.5rem;
    font-weight: 800;
  }

  span {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black);
  }

  .container {
    .skylineImage {
      z-index: 0;
    }

    .title {
      position: relative;
      top: -150px;
      z-index: 1;
    }
}
}
