:root {
  --blue: rgba(14, 105, 205, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --grey: rgb(187, 186, 186);
  --medium-grey: rgba(70, 70, 70, 1);
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 800;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-style: 'Open Sans', sans-serif;
  color: var(--black);
  background-color: #f2f2f2;
  height: 99vh;
  width: 100vw;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
